{{> head}}
   

        <div class="culmn">
            

            <!--navbar partial -->

            {{> navbar}}
            <!--Home Sections-->


   <section id="" class="home-empresas bg-black fix">          
    <div class="row">

        <div class="col-8">
            <h1>Capitan America</h1>
            <p>
            dfslksñldfkñlsdfs
            </p>
        </div>

        <div class="col-4">
            <img src="assets/images/adgrafic.jpg" class="img-thumbnail">
        </div>


    </div> 
   </section> 


            

           
<!--footer hbs -->

{{> footer}}
              